<div>
  <div>Name: {{user.name}}</div>
  <div>Location: {{user.location}}</div>
  <div><img ng-src="{{user.avatar_url}}" title="{{user.name}}"></div>
</div>

<div ng-show="repos.length > 0">
  Select a sort order
  <select ng-model="sortOrder">
    <option value='-stargazers_count'>Star count descending</option>
    <option value='language'>Language</option>
    <option value='name'>Name</option>
  </select>
  <table>
    <tr>
      <th>Name</th>
      <th>Star</th>
      <th>Language</th>
    </tr>
    <tr ng-repeat="repo in repos | orderBy:sortOrder">
      <td><a ng-href="/repo/{{username}}/{{repo.name}}">{{repo.name}}</a></td>
      <td>{{repo.stargazers_count}}</td>
      <td>{{repo.language}}</td>
    </tr>
  </table>
</div>
<a href='/#'>Back to Search</a>